In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.1.5-py3-none-any.whl (979 kB)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Collecting trio~=0.17
  Downloading trio-0.20.0-py3-none-any.whl (359 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.1.0 selenium-4.1.5 trio-0.20.0 trio-websocket-0.9.2 wsproto-1.1.0

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

# Question-2

In [112]:
driver=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [6]:
driver.close()

In [113]:
driver.get("http://www.naukri.com/")

In [114]:
search_field_designtion=driver.find_element_by_class_name("suggestor-input")

In [115]:
search_field_designtion.send_keys("Data Scientist")

In [116]:
search_field_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [117]:
search_field_loc.send_keys('Bangalore')

In [118]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [119]:
search_button.click()

In [120]:
job_titles=[]
   

experience_list=[]

In [121]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [122]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)

In [123]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="2f4d778f-5da9-4b47-bb5b-d6414207a2bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="ef3fa304-bf16-432a-9026-a02479c67c5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="ce859346-871d-4655-8afc-25aa9ea5ca64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="92408798-4941-45d2-a7f3-c0c9658b953e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="b94d0348-7f63-4ed3-a0ef-99bf72622e0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="0f3082b3-991a-4725-b1d4-aeb44280c363")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="67d82738-756a-452c-bb4e-3edbeeaa71f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="33b043b0-d32d-4717-b81e-19e93cc809c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="96a3702d-80a6-4021-add1-0e8b0713d873")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="e8fbd4bd-f0dc-4f8b-84ae-78b2035e53dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="e0ef4c25-b495-4eae-b24a-26f158acf11c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="84668297-f6e3-4e1d-896f-3e7c62e2ade0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="903e0168-b305-4766-8445-7ffd97a6dfff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="744587ef-ef4e-4e38-bde5-0bb8c7063de2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="57ac6b16-6bcc-4335-8458-bdbe6156ae18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="71df102a-9833-43eb-9670-41384950636e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="60e7e174-c957-43fe-ab97-718405f7c2fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="47fedc2c-7bdc-4ed5-b03c-0bb7a9824b52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="b1ddd7bf-93fd-4d7c-a44a-b6c2529bb926")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="8eadbe43-1ea8-4e54-827e-c1adda4f7c8c")>]

In [124]:
company_names=[]
for i in companies_tags:
    company_names.append(i.text)

In [125]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [126]:
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)

In [127]:
experience_list

['5-10 Yrs',
 '5-7 Yrs',
 '3-7 Yrs',
 '10-12 Yrs',
 '11-12 Yrs',
 '11-12 Yrs',
 '11-12 Yrs',
 '3-7 Yrs',
 '4-9 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '4-8 Yrs',
 '10-15 Yrs',
 '4-6 Yrs',
 '8-10 Yrs',
 '1-5 Yrs',
 '3-6 Yrs',
 '2-4 Yrs',
 '8-10 Yrs',
 '3-7 Yrs']

In [128]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="640742de-bec8-4a9a-b0d8-0babe4ea5246")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="f0f7e9f8-3464-4494-8849-e94930987bf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="b99fba5d-dcd4-465d-a2b6-8f21e85d06b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="5a19cabb-3695-46ee-a20e-776eb413de78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="fb0593fe-fde0-48b5-b14e-6be90cb6b003")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="0bd68364-0064-438e-bef8-0f6f413c12dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="4f54c32e-2c50-45dd-98ac-8a65826172a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="4d3bbd60-bb43-4cbc-8977-bf70e6d858ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="98ffd16d-8963-4dcc-83b7-20bb93985059")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="a92fb8c4-54db-4e79-84f8-e592219a6f04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="35d31356-ab39-4e1d-b7b2-4700ae6a0895")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="d8cff67d-f5e9-4264-83a9-c155c29df498")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="0554d38c-abd1-477c-ba40-1e4ee391a071")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="ee1fd63f-89d7-4047-8a8e-4072ec74e187")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="417ade0f-fd97-4b7f-90a6-005db141c6e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="bfe0b510-3349-4477-baa3-6cf7e7e88077")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="595f684f-677f-4653-8fb9-694788e8b28a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="6f591bbf-a81a-487e-afc3-8dd9bff3befe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="9454cdef-f3c5-4a30-aa92-07cf6c9c518a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="131b558e1c16bac55fc5715fae4a1bb0", element="d4019036-43b6-4bcd-b625-6f73f456a8ab")>]

In [129]:
locations_list=[]
for i in location_tags:
    locations_list.append(i.text)

In [130]:
locations_list

['Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Remote',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru']

In [131]:
jobs=pd.DataFrame({'Job_title':job_titles[0:10],'Job-location':locations_list[0:10],'Company-name':company_names[:10]})

In [132]:
jobs.index +=1

In [134]:
jobs

,Job_title,Job-location,Company-name
1,Senior Data Scientist,Bangalore/Bengaluru,Fractal Analytics
2,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM
3,Data Scientist,Bangalore/Bengaluru,VISA
4,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
5,Data Scientist: Artificial Intelligence,Bengaluru/Bangalore,IBM
6,Data Scientist: Artificial Intelligence,Bengaluru/Bangalore,IBM
7,Data Scientist: Artificial Intelligence,Bengaluru/Bangalore,IBM
8,"Data Scientist, Machine Learning (AIML)",Bangalore/Bengaluru,Fractal Analytics
9,Sr. Data Scientist,Bangalore/Bengaluru,HUDSON'S BAY SERVICES PRIVATE LIMITED
10,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.

# Question-1

In [136]:
driver1=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [137]:
driver1.get("http://www.naukri.com/")

In [139]:
search_field_designtion=driver1.find_element_by_class_name("suggestor-input")

In [140]:
search_field_designtion.send_keys("Data Analyst")

In [142]:
search_field_loc=driver1.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [143]:
search_field_loc.send_keys('Bangalore')

In [145]:
search_button=driver1.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [146]:
search_button.click()

In [148]:
job_titles=[]
titles_tags=driver1.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    title=i.text
    job_titles.append(title)

In [150]:
companies_tags=driver1.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_names=[]
for i in companies_tags:
    company_names.append(i.text)

In [ ]:
experience_tags=driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)

In [152]:
location_tags=driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_list=[]
for i in location_tags:
    locations_list.append(i.text)

In [155]:
jobs=pd.DataFrame({'Job_title':job_titles[0:10],'Job-location':locations_list[0:10],'Company-name':company_names[0:10],'Experience-required':experience_list[0:10]})
jobs.index +=1

In [156]:
jobs

,Job_title,Job-location,Company-name,Experience-required
1,Senior Data Analyst,Bangalore/Bengaluru,Thomson Reuters,5-10 Yrs
2,Data Analyst- customer facing,Bangalore/Bengaluru,Synamedia,5-7 Yrs
3,Sr Data Analyst II,"Gurgaon/Gurugram, Bangalore/Bengaluru",IHS Markit,3-7 Yrs
4,Business analyst + data Analysis,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Anlage Infotech (I) Pvt. Ltd.,10-12 Yrs
5,Data Analyst,Bangalore/Bengaluru,VOLVO ASSET FINANCE INDIA PRIVATE LIMITED,11-12 Yrs
6,Hiring For Data Analyst with SAP ABAP & BW - C...,Bangalore/Bengaluru\n(WFH during Covid),MILLION MINDS INFOTECH PRIVATE LIMITED,11-12 Yrs
7,Senior Business Analyst - Data Sciences and Ad...,Bangalore/Bengaluru,Vmware,11-12 Yrs
8,Business and Data Analyst,Bangalore/Bengaluru\n(WFH during Covid),CAREERDOST ENTERPRISE,3-7 Yrs
9,Senior Data Analyst | Lululemon,Bangalore/Bengaluru,TALENT500 TECH (INDIA) PRIVATE LIMITED,4-9 Yrs
10,Urgent hiring For Senior Data Analyst,Bangalore/Bengaluru,upGrad,4-9 Yrs

In [157]:
driver1.close()

# Question-3

In [181]:
driver3=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [182]:
driver3.get("http://www.naukri.com/")

In [183]:
search_field_designtion=driver3.find_element_by_class_name("suggestor-input")

In [184]:
search_field_designtion.send_keys("Data Scientist")

In [185]:
search_button=driver3.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [186]:
search_button.click()

In [188]:
search_field_sal=driver3.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')

In [189]:
search_field_sal.click()

In [190]:
search_field_loc=driver3.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')

In [191]:
search_field_loc.click()

In [193]:
job_titles=[]
titles_tags=driver3.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    title=i.text
    job_titles.append(title)

In [194]:
companies_tags=driver3.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_names=[]
for i in companies_tags:
    company_names.append(i.text)

In [197]:
experience_tags=driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)

In [198]:
location_tags=driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_list=[]
for i in location_tags:
    locations_list.append(i.text)

In [199]:
jobs=pd.DataFrame({'Job_title':job_titles[0:10],'Job-location':locations_list[0:10],'Company-name':company_names[0:10],'Experience-required':experience_list[0:10]})
jobs.index +=1
jobs

,Job_title,Job-location,Company-name,Experience-required
1,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
2,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs
3,Associate Scientist - Data Engineering,Gurgaon/Gurugram,AXA Technology Services India Pvt. Ltd,2-5 Yrs
4,Data Scientist || Software Company || Immediat...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Skyleaf Consultants,3-8 Yrs
5,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",Creative Hands HR Consultancy,0-4 Yrs
6,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,3-7 Yrs
7,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
8,Data Scientists,Gurgaon/Gurugram,Nibha Infotech Private Limited,5-8 Yrs
9,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
10,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs

In [200]:
driver3.close()

# Question-4

In [388]:
driver4=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [389]:
driver4.get("https://www.flipkart.com/")

In [390]:
popup=driver4.find_element_by_xpath('/html/body/div[2]/div/div/button')

In [391]:
popup.click()

In [392]:
search_field_item=driver4.find_element_by_class_name("_3704LK")

In [393]:
search_field_item.send_keys('sunglasses')

In [394]:
search_icon=driver4.find_element_by_class_name("L0Z3Pu")

In [395]:
search_icon.click()

In [396]:
nextbutton=driver4.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
brand_name=[]
description=[]
discount=[]
price=[]
j=1
for k in [1,2,3]:
    brand_tag=driver4.find_elements_by_xpath("//div[@class='_2WkVRV']")
    product_desc=driver4.find_elements_by_xpath("//a[@class='IRpwTa']")
    discount_tag=driver4.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    price_tag=driver4.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in brand_tag:
        brand_name.append(i.text)
    
    for i in product_desc:
        description.append(i.text)
    for i in price_tag:
        price.append(i.text)
    for i in discount_tag:
        discount.append(i.text)
    
    
    nextbutton.click()
    time.sleep(5)
    nextbutton=driver4.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')

In [399]:
product_details=pd.DataFrame({'Brand':brand_name[0:100],'Product_Description':description[0:100],'Price':price[0:100],'Discount':discount[0:100]})
product_details.index +=1

In [400]:
product_details

,Brand,Product_Description,Price,Discount
1,CART2DEAL,"UV Protection, Riding Glasses, Mirrored Aviato...","₹1,274",84% off
2,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹899,55% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719,20% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
5,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
...,...,...,...,...
96,LOUIS KOUROS,UV Protection Round Sunglasses (Free Size),"₹1,492",81% off
97,WROGN,"UV Protection, Others Round Sunglasses (48)",₹859,73% off
98,ROZZETTA CRAFT,"Toughened Glass Lens, UV Protection Rectangula...",₹398,80% off
99,Rich Club,"UV Protection, Riding Glasses, Others Aviator,...",₹260,67% off
100,AISLIN,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹816,77% off

# Question-6

In [401]:
driver6=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [414]:
driver6.get("https://www.flipkart.com/")

WebDriverException: Message: chrome not reachable
  (Session info: chrome=101.0.4951.64)
Stacktrace:
Backtrace:
	Ordinal0 [0x00BBB8F3+2406643]
	Ordinal0 [0x00B4AF31+1945393]
	Ordinal0 [0x00A3C610+837136]
	Ordinal0 [0x00A30442+787522]
	Ordinal0 [0x00A30C78+789624]
	Ordinal0 [0x00A324B2+795826]
	Ordinal0 [0x00A2BF09+769801]
	Ordinal0 [0x00A3DAC0+842432]
	Ordinal0 [0x00A93E62+1195618]
	Ordinal0 [0x00A84096+1130646]
	Ordinal0 [0x00A5E636+976438]
	Ordinal0 [0x00A5F546+980294]
	GetHandleVerifier [0x00E29612+2498066]
	GetHandleVerifier [0x00E1C920+2445600]
	GetHandleVerifier [0x00C54F2A+579370]
	GetHandleVerifier [0x00C53D36+574774]
	Ordinal0 [0x00B51C0B+1973259]
	Ordinal0 [0x00B56688+1992328]
	Ordinal0 [0x00B56775+1992565]
	Ordinal0 [0x00B5F8D1+2029777]
	BaseThreadInitThunk [0x76076739+25]
	RtlGetFullPathName_UEx [0x77608E7F+1215]
	RtlGetFullPathName_UEx [0x77608E4D+1165]

In [404]:
popup=driver6.find_element_by_xpath('/html/body/div[2]/div/div/button')

In [405]:
popup.click()

In [407]:
search_field_item=driver6.find_element_by_class_name("_3704LK")

In [408]:
search_field_item.send_keys('sneakers')

In [409]:
search_icon=driver6.find_element_by_class_name("L0Z3Pu")

In [410]:
search_icon.click()

In [411]:
nextbutton=driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
brand_name=[]
description=[]
discount=[]
price=[]
j=1
for k in [1,2,3]:
    brand_tag=driver6.find_elements_by_xpath("//div[@class='_2WkVRV']")
    product_desc=driver6.find_elements_by_xpath("//a[@class='IRpwTa']")
    discount_tag=driver6.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    price_tag=driver6.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in brand_tag:
        brand_name.append(i.text)
    
    for i in product_desc:
        description.append(i.text)
    for i in price_tag:
        price.append(i.text)
    for i in discount_tag:
        discount.append(i.text)
    
    
    nextbutton.click()
    time.sleep(5)
    nextbutton=driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')

In [412]:
product_details=pd.DataFrame({'Brand':brand_name[0:100],'Product_Description':description[0:100],'Price':price[0:100],'Discount':discount[0:100]})
product_details.index +=1

In [413]:
product_details

,Brand,Product_Description,Price,Discount
1,aadi,Sneakers For Men,₹322,67% off
2,RapidBox,Modern Trendy Sneakers Shoes Sneakers For Men,₹720,27% off
3,URBANBOX,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹198,80% off
4,BRUTON,Sneakers For Men,₹295,77% off
5,corsac,"Stylish Comfortable Lightweight, Breathable Wa...",₹499,66% off
...,...,...,...,...
96,LuvShus,Sneakers For Men,₹413,78% off
97,Noztile,Sneakers For Men,₹428,50% off
98,bluemaker,Sneakers For Men,₹499,37% off
99,Roadster,"Stylish Comfortable Lightweight, Breathable Wa...","₹1,799",50% off
100,LE GREEM,Classy Sneakers For Men,₹499,50% off

# Question-7

In [547]:
driver7=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [548]:
driver7.get("https://www.myntra.com/shoes")

In [549]:
pricerange_checkbox=driver7.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')

In [550]:
pricerange_checkbox.click()

In [551]:
blackcolor_checkbox=driver7.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')

In [552]:
blackcolor_checkbox.click()

In [558]:
nextbutton=driver7.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
brand_name=[]
description=[]
discount=[]
price=[]
j=1
for k in [1,2]:
    brand_tag=driver7.find_elements_by_xpath("//h3[@class='product-brand']")
    product_desc=driver7.find_elements_by_xpath("//h4[@class='product-product']")
    
    price_tag=driver7.find_elements_by_xpath("//div[@class='product-price']")
    
    for i in brand_tag:
        brand_name.append(i.text)
    
    for i in product_desc:
        description.append(i.text)
    
    for i in price_tag:
        discountedpricetag=i.find_elements_by_class_name('product-discountedPrice')
        if len(discountedpricetag)>0:
            price.append(i.find_element_by_class_name('product-discountedPrice').text)
        else:
            price.append(i.text)
        
   
    
    
    nextbutton.click()
    time.sleep(3)
    nextbutton=driver7.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[13]/a')

In [559]:
len(brand_name)

100

In [560]:
len(description)

100

In [561]:
len(price)

100

In [562]:
product_details=pd.DataFrame({'Brand':brand_name,'Product_Description':description,'Price':price})
product_details.index +=1

In [563]:
product_details

              Brand                  Product_Description      Price
1            ADIDAS       Men Solar Glide 5 Running Shoe  Rs. 13999
2            Clarks                   Men Leather Derbys   Rs. 9999
3         J.FONTINI                    Men Solid Loafers   Rs. 8990
4          DAVINCHI                         Ustraa black   Rs. 8990
5          DAVINCHI  Men Textured Formal Leather Loafers   Rs. 8990
..              ...                                  ...        ...
96           ADIDAS            Women Supernova + Running   Rs. 8999
97      Birkenstock            Women Gizeh T-Strap Flats   Rs. 8990
98         Cobblerz         Men Textured Leather Loafers  Rs. 10349
99           Kenkoh               Leather Open Toe Flats   Rs. 9850
100  ROSSO BRUNELLO      Men Solid Leather Formal Derbys   Rs. 8499

[100 rows x 3 columns]

In [564]:
driver7.close()

# Question-5

In [605]:
driver5=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [613]:
driver5.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [614]:
nextbutton=driver5.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
rating=[]
review_summary=[]
full_review=[]

for k in range(1,11):
    rating_tag=driver5.find_elements_by_class_name('_1BLPMq')
    summary_tag=driver5.find_elements_by_xpath("//p[@class='_2-N8zT']")
    
    fullreview_tag=driver5.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    for i in  rating_tag:
        rating.append(i.text)
    
    for i in summary_tag:
        review_summary.append(i.text)

    for i in fullreview_tag:
        full_review.append(i.text)  
    time.sleep(5)
    nextbutton.click()
    time.sleep(5)
    nextbutton=driver5.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
                                              
review_details=pd.DataFrame({'Summary_Review':review_summary,'Full_Review':full_review,'Rating':rating})
review_details.index +=1
review_details

,Summary_Review,Full_Review,Rating
1,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...,5
2,Simply awesome,Really satisfied with the Product I received.....,5
3,Best in the market!,Great iPhone very snappy experience as apple k...,5
4,Perfect product!,Amazing phone with great cameras and better ba...,5
5,Fabulous!,This is my first iOS phone. I am very happy wi...,5
...,...,...,...
96,Brilliant,Amazing phone and on great deal I received wit...,5
97,Terrific purchase,finally an iPhone with very nice battery backu...,5
98,Good quality product,I'm switching this phone to oppo reno 10x zoom...,4
99,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...,5
100,Best in the market!,Damn this phone is a blast . Upgraded from and...,5

# Question-8

In [321]:
driver8=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [322]:
driver8.get('https://www.amazon.in/')

In [323]:
search_field=driver8.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

In [324]:
search_field.send_keys('Laptop')

In [325]:
search_icon=driver8.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')

In [326]:
search_icon.click()

In [327]:
i9_tag=driver8.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a')

In [328]:
i9_tag.click()

In [338]:
rating=[]
title=[]
price=[]
title_tag1=driver8.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
#rating_tag=driver8.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']")
full_tag1=driver8.find_elements_by_xpath("//div[@class='a-section a-spacing-small a-spacing-top-small']")
full_tag1.pop(0)
for i in title_tag1:
    title.append(i.text)
for i in full_tag1:
    price_tag1=i.find_elements_by_class_name('a-price-whole')
    if len(price_tag1)>0 :
         for k in price_tag1:
            price.append('₹'+k.text)
    else:
        price.append('No price')
for i in full_tag1:
    tag3=i.find_elements_by_class_name("a-size-small")
    if len(tag3)>0 :
         for k in tag3:
            rating.append(k.find_element_by_tag_name('span').get_attribute('aria-label'))
    else:
        rating.append('No Rating')
product_details=pd.DataFrame({'Title':title[:10],'Price':price[:10],'Rating':rating[:10]})
product_details.index +=1
product_details

,Title,Price,Rating
1,Acer Predator Helios 300 11th Gen Intel Core i...,"rs1,44,990",5.0 out of 5 stars
2,Acer Predator Helios 300 11th Gen Intel Core i...,"rs1,44,990",5.0 out of 5 stars
3,"ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 c...","rs3,31,990",5.0 out of 5 stars
4,"ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.6...","rs2,85,390",No Rating
5,HP Envy 15- 11th Gen Intel Core i9/32GB/1TB SS...,No price,No Rating
6,Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...,"rs2,05,990",4.0 out of 5 stars
7,Predator Helios 500 Gaming Laptop (11th Gen In...,"rs3,79,990",No Rating
8,"MSI Gaming Stealth GS66, Intel 12th Gen. i9-12...","rs3,29,990",4.5 out of 5 stars
9,"ASUS ROG Strix Scar 15 (2022), 15.6"" (39.62 cm...","rs2,32,374",No Rating
10,(Renewed) HP Omen 15-dh0139TX Gaming Laptop (9...,"rs1,38,000",1.0 out of 5 stars
11,Dell Precision 5550 || i9 -10885H || 16GB || 1...,"rs2,25,000",No Rating

In [339]:
driver8.close()

In [340]:
driver8=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [341]:
driver8.get('https://www.amazon.in/')

In [342]:
search_field=driver8.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

In [343]:
search_field.send_keys('Laptop')

In [344]:
search_icon=driver8.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')

In [345]:
search_icon.click()

In [346]:
i7_tag=driver8.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a')

In [347]:
i7_tag.click()

In [348]:
rating=[]
title=[]
price=[]
title_tag2=driver8.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
#rating_tag=driver8.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']")
full_tag2=driver8.find_elements_by_xpath("//div[@class='a-section a-spacing-small a-spacing-top-small']")
full_tag2.pop(0)
for i in title_tag2:
    title.append(i.text)
for i in full_tag2:
    price_tag2=i.find_elements_by_class_name('a-price-whole')
    if len(price_tag2)>0 :
         for k in price_tag2:
            price.append('₹'+k.text)
    else:
        price.append('No price')
for i in full_tag2:
    tag4=i.find_elements_by_class_name("a-size-small")
    if len(tag4)>0 :
         for k in tag4:
            rating.append(k.find_element_by_tag_name('span').get_attribute('aria-label'))
    else:
        rating.append('No Rating')
product_details=pd.DataFrame({'Title':title[:10],'Price':price[:10],'Rating':rating[:10]})
product_details.index +=1
product_details

,Title,Price,Rating
1,Acer Predator Helios 300 11th Gen Intel Core i...,"₹1,69,990",5.0 out of 5 stars
2,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"₹58,999",4.2 out of 5 stars
3,Mi Notebook Ultra 3.2K Resolution Display Inte...,"₹77,999",4.3 out of 5 stars
4,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"₹86,990",4.4 out of 5 stars
5,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...","₹57,490",4.5 out of 5 stars
6,"HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...","₹86,990",4.3 out of 5 stars
7,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...","₹89,990",4.6 out of 5 stars
8,Samsung Galaxy Book2 Intel 12th Gen core i7 Ev...,"₹79,990",3.0 out of 5 stars
9,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,"₹85,890",4.0 out of 5 stars
10,Samsung Galaxy Book2 Pro Intel 12th Gen i7 Evo...,"₹1,14,990",1.0 out of 5 stars
11,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,"₹93,999",4.5 out of 5 stars

In [349]:
driver8.close()

# Question-9

In [357]:
driver9=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [358]:
driver9.get('https://www.ambitionbox.com/jobs')

In [360]:
search_field=driver9.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')

In [361]:
search_field.send_keys('Data Scientist')

In [362]:
search_button=driver9.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')

In [363]:
search_button.click()

In [366]:
location_button=driver9.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')

In [367]:
location_button.click()

In [368]:
location_field=driver9.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')

In [369]:
location_field.send_keys('Noida')

In [370]:
noida_label=driver9.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')

In [371]:
noida_label.click()

In [404]:
company_name=[]
No_of_days=[]
rating=[]
company_tag=driver9.find_elements_by_xpath("//p[@class='company body-medium']")
days_tag=driver9.find_elements_by_xpath("//div[@class='other-info']")
jobcard=driver9.find_elements_by_xpath("//div[@class='company-info']/div/a[1]")
for i in company_tag:
    company_name.append(i.text)
for i in days_tag:
    No_of_days.append(i.find_element_by_tag_name('span').text)
jobcard.pop(0)
for i in jobcard:
    rating.append(i.text)
company_details=pd.DataFrame({'Company_Name':company_name,'Rating':rating,'No_Of_Daysback_Posted':No_of_days})
company_details.index +=1
company_details

,Company_Name,Rating,No_Of_Daysback_Posted
1,EXL Services.com ( I ) Pvt. Ltd.,3.9,9d ago
2,GENPACT India Private Limited,4.0,22d ago
3,TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED,3.9,8d ago
4,GENPACT India Private Limited,4.0,1mon ago
5,Bristlecone India Limited,3.8,17d ago
6,Zyoin,4.1,21d ago
7,Ashkom Media India Private Limited,3.7,8d ago
8,Newgen Software Technologies Ltd.,3.5,23d ago
9,JK Technosoft Ltd,3.7,1mon ago
10,Pitney Bowes India Pvt Ltd,4.2,1mon ago

# Question 10

In [73]:
driver10=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [74]:
driver10.get('https://www.ambitionbox.com/')

In [75]:
salary_button=driver10.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')

In [76]:
salary_button.click()

In [77]:
jobprof_field=driver10.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

In [78]:
jobprof_field.send_keys('Data Scientist')

In [79]:
suggestion_field=driver10.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")

In [81]:
suggestion_field.click()

In [115]:
comapny_name=[]
totalsalary_records=[]
experience=[]
avgCtc=[]
minCTC=[]
maxCtc=[]
companyNameTag=driver10.find_elements_by_xpath("//div[@class='company-info']/div[1]/a[1]")
for i in companyNameTag:
    comapny_name.append(i.text)
totalsalRecTag=driver10.find_elements_by_xpath("//div[@class='company-info']/div[1]/span[1]")
for i in totalsalRecTag:
    totalsalary_records.append(i.text)
expTag=driver10.find_elements_by_xpath("//div[@class='company-info']/div[2]")
for i in expTag:
    experience.append(i.text[19:].replace('exp',''))

avgCtcTag=driver10.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avgCtcTag:
    avgCtc.append(i.text)
minCtcTag=driver10.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
for i in minCtcTag:
    minCTC.append(i.text)
maxCtcTag=driver10.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
for i in maxCtcTag:
    maxCtc.append(i.text)
SalaryDetails=pd.DataFrame({'Company_Name':comapny_name,'Total_Sal_Records':totalsalary_records,'Experience':experience,'Average_CTC':avgCtc,'Min_CTC':minCTC,'Max_CTC':maxCtc})
SalaryDetails.index +=1
SalaryDetails

,Company_Name,Total_Sal_Records,Experience,Average_CTC,Min_CTC,Max_CTC
1,Walmart,based on 11 salaries,3 yrs,₹ 29.7L,₹ 25.0L,₹ 35.0L
2,Ab Inbev,based on 32 salaries,3-4 yrs,₹ 20.5L,₹ 15.0L,₹ 25.5L
3,Reliance Jio,based on 10 salaries,4 yrs,₹ 18.9L,₹ 5.6L,₹ 26.2L
4,ZS,based on 15 salaries,2 yrs,₹ 16.7L,₹ 11.0L,₹ 22.0L
5,Optum,based on 30 salaries,3-4 yrs,₹ 15.9L,₹ 11.0L,₹ 22.6L
6,Fractal Analytics,based on 82 salaries,2-4 yrs,₹ 15.4L,₹ 9.7L,₹ 23.0L
7,Tiger Analytics,based on 47 salaries,2-4 yrs,₹ 14.8L,₹ 9.0L,₹ 20.0L
8,UnitedHealth,based on 55 salaries,2-4 yrs,₹ 13.9L,₹ 8.3L,₹ 20.5L
9,Verizon,based on 14 salaries,4 yrs,₹ 12.7L,₹ 10.0L,₹ 21.0L
10,Ganit Business Solutions,based on 13 salaries,4 yrs,₹ 12.4L,₹ 8.5L,₹ 15.0L